@import '../node_modules/include-media/dist/_include-media';

$background-color: #2B2E34;
$primary-color: #FED74C;
$gap: 25px;

// Overwrites Roboto Font Path
$FontPath: '../assets/fonts/';

.top-gap {
  margin-top: $gap;
}
