.top-gap {
  margin-top: 25px; }

.double-top-gap {
  margin-top: 50px; }

.bottom-gap {
  margin-bottom: 25px; }

.space {
  height: 25px;
  display: block; }

.dspace {
  height: 50px;
  display: block; }

.small {
  font-size: 80%; }

.strong {
  font-weight: 900; }

img.landscape {
  max-width: 920px;
  width: 90%;
  height: auto; }

img.fancy-border {
  padding: 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); }

.card-wrapper .card {
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

.triangle {
  text-align: center;
  position: relative; }
  .triangle.black {
    color: white;
    z-index: 1; }
    .triangle.black a {
      color: white; }
    .triangle.black:before {
      background-color: #2B2E34; }
  .triangle.yellow {
    color: #2B2E34; }
    .triangle.yellow:before {
      background-color: #FED74C; }
    .triangle.yellow a:hover {
      background-color: black;
      color: #FED74C; }
  .triangle a:hover {
    background-color: black;
    color: white; }
  .triangle:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 20px;
    transform: skewY(-1deg);
    transform-origin: top left;
    z-index: -1; }
  .triangle.inverse:before {
    transform: skewY(1deg); }

.content {
  padding: 50px 25px; }
  .content.yellow:not(.inverse) {
    padding-bottom: 125px; }
  .content.yellow.inverse {
    padding-top: 75px; }

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: inherit;
  overflow-x: hidden; }

body {
  background-color: white;
  color: #2B2E34;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
  position: relative; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0;
  color: inherit; }

.h1, h1 {
  font-size: 48px;
  margin-bottom: 0.8em; }

.bg-black {
  background-color: #2B2E34; }

.navbar {
  font-size: 80%; }
  .navbar a {
    text-decoration: none; }

.first-triangle {
  background: linear-gradient(#2B2E34 0%, #2B2E34 30%, white 30%, white 100%); }
  .first-triangle .logo {
    max-width: 500px;
    width: 100%; }
  .first-triangle .triangle {
    padding-bottom: 100px; }

.sponsors p, .team p, .mentors p {
  margin-bottom: 75px; }

.sponsors div, .team div, .mentors div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .sponsors div + div, .team div + div, .mentors div + div {
    margin-top: 75px; }

@media (max-width: 768px) {
  .sponsors a, .team a, .mentors a {
    margin-left: 25px;
    margin-right: 25px; } }

.sponsors a + a, .team a + a, .mentors a + a {
  margin-left: 75px; }
  @media (max-width: 768px) {
    .sponsors a + a, .team a + a, .mentors a + a {
      margin-left: 0; } }

.sponsors a[target], .team a[target], .mentors a[target] {
  text-decoration: none; }
  .sponsors a[target]:hover, .team a[target]:hover, .mentors a[target]:hover {
    background-color: inherit;
    color: inherit; }

.sponsors .row, .team .row, .mentors .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.sponsors figcaption, .team figcaption, .mentors figcaption {
  max-width: 300px;
  min-width: 100%;
  margin-bottom: 40px; }

.sponsors .row a:nth-child(odd) .fancy-border, .team .row a:nth-child(odd) .fancy-border, .mentors .row a:nth-child(odd) .fancy-border {
  transform: rotate(1deg);
  will-change: transform;
  transition: transform 0.133s ease-in-out; }
  .sponsors .row a:nth-child(odd) .fancy-border:hover, .team .row a:nth-child(odd) .fancy-border:hover, .mentors .row a:nth-child(odd) .fancy-border:hover {
    transform: rotate(-1deg); }

.sponsors .row a:nth-child(even) .fancy-border, .team .row a:nth-child(even) .fancy-border, .mentors .row a:nth-child(even) .fancy-border {
  transform: rotate(-1deg);
  will-change: transform;
  transition: transform 0.133s ease-in-out; }
  .sponsors .row a:nth-child(even) .fancy-border:hover, .team .row a:nth-child(even) .fancy-border:hover, .mentors .row a:nth-child(even) .fancy-border:hover {
    transform: rotate(1deg); }

.mentor-image {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.team p.small {
  margin-bottom: 0; }

.sponsor-image, .team-image, .mentor-image {
  display: inline-block;
  margin-bottom: 25px;
  max-width: 400px;
  min-width: 300px;
  max-height: 170px; }
  .sponsor-image.vector, .team-image.vector, .mentor-image.vector {
    min-width: 400px; }
  .sponsor-image.fiducia, .team-image.fiducia, .mentor-image.fiducia {
    min-width: 150px !important; }
  .sponsor-image.smarthouse, .team-image.smarthouse, .mentor-image.smarthouse {
    max-width: 200px !important;
    min-width: 200px !important; }
  .sponsor-image.medium, .team-image.medium, .mentor-image.medium {
    max-width: 330px;
    min-width: 280px;
    max-height: 120px; }
  .sponsor-image.small, .team-image.small, .mentor-image.small {
    max-width: 150px;
    min-width: 130px; }
  .sponsor-image.square, .team-image.square, .mentor-image.square {
    width: 220px;
    height: 220px;
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit; }
  .sponsor-image.round, .team-image.round, .mentor-image.round {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit; }

.prizes .row {
  margin-top: 50px;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1023px) {
    .prizes .row {
      display: block; }
      .prizes .row div {
        display: block; }
        .prizes .row div.icon-and-text + div {
          margin-top: 50px;
          padding-left: 0; } }
  .prizes .row div {
    -ms-flex: 1;
        flex: 1; }
    .prizes .row div + div {
      padding-left: 25px; }
  .prizes .row img {
    max-height: 100px; }
  .prizes .row b {
    display: block; }

.footer {
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
  font-size: 1rem;
  margin-bottom: 15px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 25px; }
  .footer img {
    max-width: 200px;
    width: 100%; }
  .footer a {
    text-decoration: none; }

.mentors a {
  display: block; }
  .mentors a + a {
    margin-top: 25px;
    margin-left: 0; }

.mentors figure {
  display: -ms-flexbox;
  display: flex; }
  .mentors figure img {
    margin: 0; }
  .mentors figure figcaption {
    margin-left: 25px;
    text-align: left;
    margin-bottom: 0;
    min-width: inherit;
    max-width: inherit;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
    .mentors figure figcaption .mentor-properties {
      font-style: italic;
      margin-bottom: 25px; }
    .mentors figure figcaption .bio {
      margin: 0; }

@media (max-width: 1023px) {
  .mentors figure {
    display: block; }
    .mentors figure figcaption {
      margin-top: 25px;
      text-align: center; } }

a {
  color: #2B2E34;
  text-decoration: underline; }

.photo-thumbnails figure {
  max-width: 200px;
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.5);
  padding: 2px;
  border-radius: 2px;
  margin: 7px;
  display: inline-block;
  transition: opacity 0.2s; }
  .photo-thumbnails figure:hover {
    opacity: 0.7; }
  .photo-thumbnails figure img {
    max-width: 100%; }

.faq .question {
  font-weight: bold;
  margin-top: 30px; }

@media (min-width: 769px) {
  .faq p:nth-child(4n+0), .faq p:nth-child(4n+1) {
    text-align: right;
    padding-left: 30%; }
  .faq p:nth-child(4n+2), .faq p:nth-child(4n+3) {
    text-align: left;
    padding-right: 30%; } }

.clock h1 {
  font-size: 4rem; }

.clock .flip-clock-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 50px; }
  .clock .flip-clock-wrapper ul li a div div.inn {
    background-color: #2B2E34;
    color: #FED74C; }

@media (max-width: 768px) {
  .clock {
    /* Adjust the position of the top's dot */
    /* Adjust the position of the bottom's dot */
    padding-bottom: 12.5px;
    padding-left: 0;
    padding-right: 0; }
    .clock .flip-clock-wrapper ul li a div div.inn {
      font-size: 2.5rem; }
    .clock .flip-clock-wrapper ul li a div {
      font-size: 3rem; }
    .clock .flip-clock-wrapper ul {
      width: 2.4rem;
      height: 3rem;
      font-size: 3rem; }
    .clock .flip-clock-wrapper ul li {
      line-height: 3rem; }
    .clock .flip-clock-dot.top {
      top: 1.2rem; }
    .clock .flip-clock-dot.bottom {
      bottom: 0;
      top: 2.1rem; }
    .clock .flip-clock-dot {
      width: .5rem;
      height: .5rem; }
    .clock .flip-clock-divider {
      width: 1rem;
      height: 5rem; }
    .clock .flip-clock-divider .flip-clock-label {
      right: -4.5rem; }
    .clock .flip-clock-divider.minutes .flip-clock-label {
      right: -4.5rem; }
    .clock .flip-clock-divider.seconds .flip-clock-label {
      right: -4.1rem; }
    .clock .flip-clock-wrapper {
      margin: 0; } }

.location .card {
  width: 49%;
  min-width: 320px; }
  .location .card p {
    text-align: left;
    display: inline-block; }

.event .card {
  width: 30%;
  min-width: 200px;
  vertical-align: top; }
  .event .card h4 {
    margin-top: -10px; }
  .event .card span {
    display: block; }
    .event .card span.time {
      font-size: 80%;
      font-weight: bold; }

.coc table {
  display: inline-block;
  text-align: left; }

@media (min-width: 769px) {
  .content {
    padding: 50px 15vw; } }

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0; } }

@media (max-width: 767px) {
  .fact-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.fact-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-pack: center;
      justify-content: center; }
  .fact-container .fact {
    margin-left: 25px;
    margin-right: 25px; }
    .fact-container .fact .desc {
      font-size: 14px;
      white-space: nowrap; }
    .fact-container .fact .value {
      margin-top: -14px;
      font-weight: bold;
      font-size: 60px; }

.eventbrite, .slack-integration {
  margin-top: 25px; }

#sponsor {
  display: none !important; }

.video-wrapper {
  width: 560px;
  max-width: 90%;
  display: inline-block;
  position: relative; }
  .video-wrapper:after {
    padding-top: 56.25%;
    display: block;
    content: ''; }
  .video-wrapper .video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }

body .navbar-brand {
  line-height: inherit;
  padding: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 15px; }
