/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Thin/Roboto-Thin.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Thin/Roboto-Thin.woff?v=1.1.0") format("woff"), url("../assets/fonts//Thin/Roboto-Thin.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }

/* END Thin */
/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//ThinItalic/Roboto-ThinItalic.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//ThinItalic/Roboto-ThinItalic.woff?v=1.1.0") format("woff"), url("../assets/fonts//ThinItalic/Roboto-ThinItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: italic; }

/* END Thin Italic */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Light/Roboto-Light.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Light/Roboto-Light.woff?v=1.1.0") format("woff"), url("../assets/fonts//Light/Roboto-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: normal; }

/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//LightItalic/Roboto-LightItalic.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//LightItalic/Roboto-LightItalic.woff?v=1.1.0") format("woff"), url("../assets/fonts//LightItalic/Roboto-LightItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: italic; }

/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../assets/fonts//Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../assets/fonts//Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Italic/Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Italic/Roboto-Italic.woff?v=1.1.0") format("woff"), url("../assets/fonts//Italic/Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Italic/Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Italic/Roboto-Italic.woff?v=1.1.0") format("woff"), url("../assets/fonts//Italic/Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: italic; }

/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Medium/Roboto-Medium.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Medium/Roboto-Medium.woff?v=1.1.0") format("woff"), url("../assets/fonts//Medium/Roboto-Medium.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: normal; }

/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//MediumItalic/Roboto-MediumItalic.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//MediumItalic/Roboto-MediumItalic.woff?v=1.1.0") format("woff"), url("../assets/fonts//MediumItalic/Roboto-MediumItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: italic; }

/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Bold/Roboto-Bold.woff?v=1.1.0") format("woff"), url("../assets/fonts//Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Bold/Roboto-Bold.woff?v=1.1.0") format("woff"), url("../assets/fonts//Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: normal; }

/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//BoldItalic/Roboto-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//BoldItalic/Roboto-BoldItalic.woff?v=1.1.0") format("woff"), url("../assets/fonts//BoldItalic/Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//BoldItalic/Roboto-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//BoldItalic/Roboto-BoldItalic.woff?v=1.1.0") format("woff"), url("../assets/fonts//BoldItalic/Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: italic; }

/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//Black/Roboto-Black.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//Black/Roboto-Black.woff?v=1.1.0") format("woff"), url("../assets/fonts//Black/Roboto-Black.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: normal; }

/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts//BlackItalic/Roboto-BlackItalic.woff2?v=1.1.0") format("woff2"), url("../assets/fonts//BlackItalic/Roboto-BlackItalic.woff?v=1.1.0") format("woff"), url("../assets/fonts//BlackItalic/Roboto-BlackItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: italic; }

/* END Black Italic */
.triangle {
  text-align: center;
  position: relative; }
  .triangle.black {
    color: white;
    z-index: 1; }
    .triangle.black a {
      color: white; }
    .triangle.black:before {
      background-color: #2B2E34; }
  .triangle.yellow {
    color: #2B2E34; }
    .triangle.yellow:before {
      background-color: #FED74C; }
    .triangle.yellow a:hover {
      background-color: black;
      color: #FED74C; }
  .triangle a:hover {
    background-color: black;
    color: white; }
  .triangle:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 20px;
    transform: skewY(-1deg);
    transform-origin: top left;
    z-index: -1; }
  .triangle.inverse:before {
    transform: skewY(1deg); }

.content {
  padding: 50px 25px; }
  .content.yellow:not(.inverse) {
    padding-bottom: 125px; }
  .content.yellow.inverse {
    padding-top: 75px; }

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0; }

body {
  background-color: white;
  color: #2B2E34;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 1.5rem; }

.space {
  height: 25px;
  display: block; }

.dspace {
  height: 50px;
  display: block; }

.small {
  font-size: 80%; }

.bg-black {
  background-color: #2B2E34; }

.first-triangle {
  background: linear-gradient(#2B2E34 0%, #2B2E34 30%, white 30%, white 100%); }
  .first-triangle .logo {
    max-width: 500px;
    width: 100%; }

.sponsors p, .team p {
  margin-bottom: 75px; }

.sponsors div, .team div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .sponsors div + div, .team div + div {
    margin-top: 75px; }

@media (max-width: 768px) {
  .sponsors a, .team a {
    margin-left: 25px;
    margin-right: 25px; } }

.sponsors a + a, .team a + a {
  margin-left: 75px; }
  @media (max-width: 768px) {
    .sponsors a + a, .team a + a {
      margin-left: 0; } }

.sponsors a[target], .team a[target] {
  text-decoration: none; }
  .sponsors a[target]:hover, .team a[target]:hover {
    background-color: inherit;
    color: inherit; }

.sponsors figcaption, .team figcaption {
  max-width: 300px;
  min-width: 100%; }

.sponsors .row a:nth-child(odd) .fancy-border, .team .row a:nth-child(odd) .fancy-border {
  transform: rotate(1deg); }

.sponsors .row a:nth-child(even) .fancy-border, .team .row a:nth-child(even) .fancy-border {
  transform: rotate(-1deg); }

.sponsor-image, .team-image {
  display: inline-block;
  margin-bottom: 25px;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  max-height: 170px; }
  .sponsor-image.medium, .team-image.medium {
    max-width: 330px;
    min-width: 280px;
    max-height: 120px; }
  .sponsor-image.small, .team-image.small {
    max-width: 150px;
    min-width: 130px; }
  .sponsor-image.square, .team-image.square {
    width: 220px;
    height: 220px;
    max-width: inherit;
    min-width: inherit;
    max-height: inherit;
    min-height: inherit; }
  .sponsor-image.fancy-border, .team-image.fancy-border {
    padding: 15px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); }

.footer {
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
  font-size: 1rem;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 25px; }
  .footer img {
    max-width: 200px;
    width: 100%; }
  .footer a {
    text-decoration: none; }

a {
  color: #2B2E34; }

.faq .question {
  font-weight: bold;
  margin-top: 30px; }

.clock h1 {
  font-size: 4rem;
  margin-bottom: 25px; }

.clock .flip-clock-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 50px; }
  .clock .flip-clock-wrapper ul li a div div.inn {
    background-color: #2B2E34;
    color: #FED74C; }

@media (max-width: 768px) {
  .clock {
    /* Adjust the position of the top's dot */
    /* Adjust the position of the bottom's dot */
    padding-bottom: 12.5px;
    padding-left: 0;
    padding-right: 0; }
    .clock .flip-clock-wrapper ul li a div div.inn {
      font-size: 2.5rem; }
    .clock .flip-clock-wrapper ul li a div {
      font-size: 3rem; }
    .clock .flip-clock-wrapper ul {
      width: 2.4rem;
      height: 3rem;
      font-size: 3rem; }
    .clock .flip-clock-wrapper ul li {
      line-height: 3rem; }
    .clock .flip-clock-dot.top {
      top: 1.2rem; }
    .clock .flip-clock-dot.bottom {
      bottom: 0;
      top: 2.1rem; }
    .clock .flip-clock-dot {
      width: .5rem;
      height: .5rem; }
    .clock .flip-clock-divider {
      width: 1rem;
      height: 5rem; }
    .clock .flip-clock-divider .flip-clock-label {
      right: -4.5rem; }
    .clock .flip-clock-divider.minutes .flip-clock-label {
      right: -4.5rem; }
    .clock .flip-clock-divider.seconds .flip-clock-label {
      right: -4.1rem; }
    .clock .flip-clock-wrapper {
      margin: 0; } }

.coc table {
  display: inline-block;
  text-align: left; }

@media (min-width: 769px) {
  .content {
    padding: 50px 15vw; } }

@media (max-width: 767px) {
  .fact-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.fact-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-pack: center;
      justify-content: center; }
  .fact-container .fact {
    margin-left: 25px;
    margin-right: 25px; }
    .fact-container .fact .desc {
      font-size: 14px;
      white-space: nowrap; }
    .fact-container .fact .value {
      margin-top: -14px;
      font-weight: bold;
      font-size: 60px; }

.ug-textpanel-title {
  display: none !important; }

.eventbrite, .slack-integration {
  margin-top: 25px; }
